
<% @users.all.each do |u| %>
    <div id="data-<%=u.id%>">
    <li><%= u.name %></li>
    </div>
    <button class="load-more" data-id="<%=u.id%>">Load comments</button>
<% end %>





<script id="pin-template" type="text/x-handlebars-template">
  <div class="box panel panel-default" id="pin" data-id="{{id}}">
    <div class="panel-body">
      {{description}}<br/>
      <strong>{{username}}</strong>
      </div>
    </div>
</script>

<script id="comment-template" type="text/x-handlebars-template">
    <tr>
      <h1>{{title}}</h1>
      <div class="body">
        {{body}}
      </div>
    </div>
</script>