<div class="panel panel-default">
  <div class="panel-heading">
<h1>About us</h1>
</div>
<p> Hey! My name is James Novak and I am an aspiring full stack web developer. Feel free to sign up and create some pins!</p>

	
</div>