<div class="panel panel-default">
  <h1>About</h1>
    <p> Hey! My name is James Novak and I am an aspiring full stack web developer. Feel free to sign up and create some pins! If you're interested checkout the github repo <%= link_to 'here', "https://github.com/jamesnvk/pinterest", target: "_blank" %>.</p>
</div>